@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030516;
  --foreground: #ffffff;
}



body {
  color: var(--foreground);
  background: var(--background);
  width: 100%;
  margin: 0;
  overflow-x: auto;
  font-family: "Lexend", serif;
  transition: 0.3secs linear ease-in-out;

}
